@font-face {
	font-family: 'Edo';
	src: url(../../public/fonts/Edo.woff2) format('woff2'), url(../../public/fonts/Edo.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ClearfaceGothic';
	src: url(../../public/fonts/ClearfaceGothic.woff2) format('woff2'), url(../../public/fonts/ClearfaceGothic.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url(../../public/fonts/AlegreyaSansSC-BlackItalic.woff2) format('woff2'), url(../../public/fonts/AlegreyaSansSC-BlackItalic.woff) format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Alegreya Sans SC';
	src: url(../../public/fonts/AlegreyaSansSC-Black.woff2) format('woff2'), url(../../public/fonts/AlegreyaSansSC-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
